header{
    width: 100%;
    height: 95px;
    background-color:blue;
    float: none;
    top:0;
    position:absolute;
    left: 0;
    z-index: 1;
}
.tittle1{
    text-align: center;
}
h1{
    text-align: center;
}
div.main{
    width: 75%;
    height: 150%;
    position: absolute;
    margin: 0;
    left: 50%;
    top: 10%;
    border: 3px solid green;
    -ms-transform: translateY(-50%);
    transform: translateX(-50%);
    text-align: center;
}

.groups, .exp, .admin, .general, .strings, .pwb, .drums, .singers, .prod, .write, .rap, .metal, .jazz{
    width: 35%;
    height: 75px;
    position: relative;
    margin: 25px auto;
    border: 3px solid green;
    text-align: center;
}
img{
    width: 100%;
    height: 75px;
}
@media all and (max-width: 400px){
    .groups, .exp, .admin, .general, .strings, .pwb, .drums, .singers, .prod, .write, .rap, .metal, .jazz{
        width: 249.975px;
        height: 37.5px;
        position: relative;
        margin: 25px auto;
        border: 3px solid green;
        text-align: center;
    }
    img{
        width: 100%;
        height: 37.5px;
    }
}